body {
    /* Fallback solid color for very old browsers */
    background: rgb(31,31,31) 100%; /* slate-900-ish */

    /* Linear gradient, top to bottom */
    background-image: linear-gradient(
      180deg,
      black 0%,
      rgb(35,35,35) 80%
    );

    /* Keeps gradient fixed while scrolling */
    background-attachment: fixed; 
}

.carousel-control-prev,
.carousel-control-next {
  width: 6% !important;
}

.weather-background {
    width: 50vw;    
    height: 30vw;
}


.overlay {
    position:absolute; 
    inset:0;
    background: rgba(0, 0, 0, 0.6);
    color:#fff; 
    display:flex; 
    flex-direction:column;
    padding:12px 16px;
}

.date {
    font-size: 3cqw;
}

.weather-type {
    font-size: 2cqw;
}

.description {
    opacity:.85;
    font-size:1cqw;
    font-weight: lighter;
}

.temp {
    font-size: 2cqw;
    font-weight: lighter;
}

.main-weather {
    width: 90% !important;
}

.info-type {
    opacity:.85; 
    color: #f4f3f2;
    font-size:1.0rem;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}

.info {
    color: #f4f3f2;
    font-weight:600;
    font-size:1.2rem;
    font-family: "Open Sans", sans-serif;
}

#page-name {
    color: #f4f3f2;
    font-family: "Monsterrat";
}

#search-form {
    width: 60%;
}

#location-suggestions{
    max-height: 200px;
    overflow-y: auto;
}

#location-line, #location-name {
    color: #f4f3f2;
    font-size: 2rem;
    font-family: "Monsterrat";
}

#weather-display {
    width:50vw;
}
