body {
    /* Fallback solid color for very old browsers */
    background: rgb(31,31,31) 100%; /* slate-900-ish */

    /* Linear gradient, top to bottom */
    background-image: linear-gradient(
      180deg,
      black 0%,
      rgb(31,31,31) 100%
    );

    /* Keeps gradient fixed while scrolling */
    background-attachment: fixed; 
}

.carousel-control-prev,
.carousel-control-next {
  width: 6% !important;
}

.weather-background {
    position: relative;
    height:auto;
}

.overlay {
    position:absolute; 
    inset:0;
    background: rgba(0,0,0,0.5);
    color:#fff; 
    display:flex; 
    flex-direction:column;
    padding:12px 16px;
}

.date {
    font-size: 3.5rem;
    /* font-family: 'Monsterrat'; */
}

.weather-type {
    font-size:2.5rem;
}

.description {
    opacity:.85;
    font-size:1rem
}

.auxillary-info {
    width:70% !important;
}

.info-type {
    opacity:.85; 
    font-size:1.0rem;
    color: #f4f3f2;
}

.info {
    font-weight:600;
    font-size:1.2rem;
    color: #f4f3f2;
}

#page-name {
    color: #f4f3f2;
    font-family: "Monsterrat";
}

#location-name {
    color: #f4f3f2;
    font-size: 2rem;
    font-family: "Monsterrat";
}

#weather-display {
    width:40%;
    max-height:30%;
    z-index: 1;
}
